{% extends "content/base.html" %}

{% block title %} Read Blog {% endblock title %}

{% block content %}

<main>
    <!--Reading Blog-->
    <div class="read-blog w-full flex justify-center items-center flex-col px-8 mt-5 text-black">
        {% for item in blog %}
        <img src="/thumbs/{{item.thumbnail}}" alt="" srcset=""class="-mt-[4rem] md:-mt-[8rem] w-[75%] h-[75%] md:w-[50%] md:h-[50%] border-2 solid border-green-400" />
        <div class="like-comment flex justify-center space-x-4 items-center  h-[2.2rem] w-[14rem]  mt-[1rem]">
            <p class="text-base md:text-xl hover:font-bold">Like</p>
            <p class="text-base md:text-xl hover:font-bold">|</p>
            <p class="text-base md:text-xl hover:font-bold">Comment</p>
            <!-- <a href="comment.html">
            </a> -->
        </div>
        <div class="description flex flex-col mt-5 items-center justify-center w-full h-auto bg-white rounded-lg">
            <p class="b-catch-show text-lg sm:text-xl md:text-2xl lg:text-4xl text-center mt-5">
                {{item.title}}
            </p>
            <p class="b-catch-show text-base sm:text-lg md:text-xl text-center mt-5">
                {{item.catchline}}
            </p>
            <p class="b-desc-show text-xl md:text-2xl mtext-center mt-5">
                {{item.script}}
            </p>
            <button type="submit" class="h-[2rem] w-[8rem] md:w-[8.5rem] mt-[2rem] bg-blue-500 rounded-xl hover:bg-purple-600">
                <a href={% url "update" item.title  %}>
                    <p class="text-center text-white text-lg">Update Blog</p>
                </a>
            </button>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}