{% extends "content/base.html" %}

{% block title %} Update Blog {% endblock title %}


{% block desc %}
<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl" style="filter:drop-shadow(1px 1px 1px white);">
    Update Blog
</h1>
<p class="mb-8 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 xl:px-48" style="filter:drop-shadow(1px 1px 1px black);">
    Explore the space. Grab a Coffee and enjoy my series of experiences.
</p>
{% endblock desc %}

{% block content %}

<main>
    <div class="Create-Blog mt-5">
        <div class="blog-form h-full w-full py-5 px-2  text-black">
            <form enctype="multipart/form-data" method="post" class="space-y-4 flex justify-center items-center flex-col rounded-lg py-2 border-[1px]  solid border-black shadow-lg shadow-black">
                {% csrf_token %}
                {% for item in blog %}
                <div class="b-title w-[90%] h-[10rem] mt-2  bg-slate-200 p-1 font-extrabold text-xl sm:text-2xl md:text-4xl">
                    <label for="title"></label>
                    <textarea rows="2" cols="50" maxlength="60" name="title" class="w-full h-full text-center leading-8 bg-slate-200 px-[1rem]" style="text-wrap: wrap; resize: none; padding-top: 1rem;">{{item.title}}</textarea>
                </div>
                <div class="b-catch w-[90%] h-[3rem] mt-2 text-lg  p-1 font-bold ">
                    <label for="catchline"></label>
                    <input type="text" name="catchline" id=""  value="{{item.catchline}}"  maxlength="60" class="w-full h-full text-center text-wrap leading-4 py-4 px-10 bg-slate-200 ">
                </div>
                <div class="b-image w-[80%] h-[2rem] space-x-3 flex justify-center items-center">
                    {% if item.thumbnail %}
                    <label for="thumbnail" class="font-extrabold text-xl md:text-4xl">Thumbnail: </label>
                    <input type="file" name="thumbnail" id="" class="md:mt-2">{{item.thumbnail}}
                    {% endif %}
                </div>
                <div class="b-desc w-[90%] h-[40rem] ">
                    <label for="script"></label>
                    <textarea name="script" class="w-full h-full bg-slate-200 pt-2 leading-6" style="padding-left: 0.5rem; padding-right: 0.5rem; resize: none;">{{item.script}}</textarea>
                </div>
                <button type="submit"
                    class="h-[2rem] md:h-[2.2rem] w-[6.5rem] md:w-[8.5rem] bg-blue-500 rounded-xl hover:bg-purple-600">
                    <p class="text-center text-white text-lg">Submit Blog</p>
                </button>
                {% endfor %}
            </form>
        </div>
    </div>
</main>
{% endblock content %}