{% extends "users/register.html" %}

{% block title %}
Update Password
{% endblock title %}

{% block users %}

<main>
    <div class="encap-auth-form flex justify-center items-center w-full h-[30rem] md:h-[35rem] p-2 ">
        <form method="post" enctype="application/x-www-form-urlencoded" class="auth-form flex flex-col items-center justify-evenly space-y-5 text-white h-full w-full md:w-1/2  rounded-lg backdrop-blur-md bg-black/50">
            {% csrf_token %}
            <p class="form-name text-3xl md:text-4xl lg:text-5xl pt-2">Update Password</p>
            {{form.as_p}}
            <button type="submit" class="w-[5.5rem] h-[2rem] md:w-[6.5rem] md:h-[3rem] md:text-lg lg:text-xl bg-blue-600 rounded-lg hover:bg-green-400">Submit</button>
        </form>
    </div>
</main>
  
{% endblock users %}