{% extends "base.html" %}
{% block title %} Create Blog {% endblock title %}
{% block content %}
  
<main>
    <!--User Auth Form-->
    <div class="encap-auth-form flex justify-center items-center w-full h-[30rem] md:h-[35rem] p-2 ">
        <div class="auth-form flex flex-col items-center justify-evenly space-y-5 text-white h-full w-full md:w-1/2  rounded-lg backdrop-blur-md bg-white/20">
            <p class="form-name text-3xl md:text-4xl lg:text-5xl pt-2">User Form</p>
            <div class="uname sm:text-lg md:text-xl lg:text-2xl flex justify-center items-center space-x-2">
                <label for="uname">Username :</label>
                <input type="text" name="uname" id="" class="rounded-md text-black pl-2" placeholder="Write Your Username">
            </div>
            <div class="email sm:text-lg md:text-xl lg:text-2xl flex justify-center items-center space-x-2">
                <label for="email">Email :</label>
                <input type="email" name="email" id="" class="rounded-md text-black pl-2" placeholder="Write your Email">
            </div>
            <div class="fname sm:text-lg md:text-xl lg:text-2xl flex justify-center items-center space-x-2">
                <label for="fname">First Name :</label>
                <input type="fname" name="fname" id="" class="rounded-md text-black pl-2" placeholder="Write your first-name">
            </div>
            <div class="lname sm:text-lg md:text-xl lg:text-2xl flex justify-center items-center space-x-2">
                <label for="lname">Last Name :</label>
                <input type="lname" name="lname" id="" class="rounded-md text-black pl-2" placeholder="Write your Last-name">
            </div>
            <div class="password sm:text-lg md:text-xl lg:text-2xl flex justify-center items-center space-x-2">
                <label for="password">Password :</label>
                <input type="password" name="password" id="" class="rounded-md text-black pl-2" placeholder="Write your Password">
            </div>
            <input type="submit" value="Register" class="w-[5.5rem] h-[2rem] md:w-[6.5rem] md:h-[3rem] md:text-lg lg:text-xl bg-blue-600 rounded-lg hover:bg-green-400">
        </div>
    </div>
</main>

{% endblock content %}