{% extends 'base.html' %}

{% block title%}Contents{% endblock title%} 

{% block main %}

<div class=" h-[24rem] bg-gradient-to-r from-indigo-500 via-purple-400 to-green-900">
  <p class="flex justify-center items-center font-mono font-extrabold text-2xl mr-28 h-[5rem]  underline md:h-[12rem] md:text-7xl md:mr-0 ">BLOGS</p>
  <div class="flex justify-center items-center font-mono font-extrabold text-base w-[60%] ml-20 sm:ml-[20rem] md:ml-52 lg:ml-[15rem]">Welcome to my blog page. Here are my blogs written below</div>
</div>
<div class="contents">
  <p
    class="font-bold text-2xl flex justify-center items-center my-4 mx-24 h-[5.25rem] font-sans subpixel-antialiased md:font-bold md:text-4xl md:flex md:justify-center md:items-center md:my-4 md:mx-24 md:h-[5.25rem] md:font-sans md:subpixel-antialiased">
    Popular Contents</p>
</div>
<div class="Cards flex items-center justify-evenly flex-wrap bg-white">
  {% for item in myblog %}
  <div class="card-1 bg-white  w-96 h-[24rem] mb-9 border-black border-0 shadow-lg shadow-stone-500/90">
    <img src="/media/{{item.image}}" alt="" srcset=""
      class="h-[12rem] w-[44rem] border-black border-b-[0.01rem]">
    <div class="card-name font-bold flex justify-center text-4xl">{{item.title}}</div>
    <div class="subcontent-write font-normal flex justify-center text-base">{{item.catch}}</div>
    <button
      class="bg-black text-white rounded-full py-2 px-6 mt-8 flex justify-center mx-[8rem] hover:bg-purple-900"><a href={% url 'read' item.slug %}>Read Blog</a>
    </button>
  </div>
  {% endfor %}
</div>
</div>
{% endblock main %}