{% extends 'base.html' %}

{% block title%}Home{% endblock title%} 

{% block main %}

<div class="h-[24rem] bg-gradient-to-r from-cyan-500 to-blue-500 bg-fixed py-20">
    <p
      class="font-mono flex justify-center text-xl font-semibold -mt-4 mx-5 h-[5rem] subpixel-antialiased sm:font-mono sm:flex  sm:text-xl sm:font-semibold sm:-mt-4 sm:mx-5 sm:h-[5rem] sm:subpixel-antialiased sm:justify-center md:font-extrabold md:text-4xl md:flex md:justify-start md:my-10 md:mx-24 md:h-5 md:font-mono md:subpixel-antialiased">
      Welcome To My Personal Blog...
    </p>
    <p
      class="font-sans text-sm  w-0.1 flex justify-start my-15  mx-10 subpixel-antialiased md:text-sm md:flex md:justify-start md:mx-24 md:font-sans md:subpixel-antialiased md:w-1/2">
      Here, I will share my knowledge over some popular topics of Coding and Development etc. Also I will share some
      personal way of thinking to make those trendy topics understand easier.
    </p>
  </div>
  <div class=" hidden lg:flex justify-end h-0 items-center">
    {% load static %}
    <img src="{% static 'APP/bg.png' %}" class="mx-16 w-[20rem] mb-[25rem]"></img>
  </div>
{% endblock main %}