{% extends 'base.html' %}

{% block title%}Read{% endblock title%} 

{% block main %}

<div class=" text-white bg-gradient-to-r from-black to-blue-600 w-[100%]">
  {% for item in object %}
  <div class="read-title p-1 flex justify-center items-center">
      <div class=" flex justify-between space-x-2 -ml-[13rem] md:-ml-[10rem] lg:ml-0">
        <div class="tname text-2xl font-bold font-sans mt-4 md:text-3xl md:font-bold">TITLE</div>
        <div class="tname text-2xl font-bold font-sans mt-4 md:text-3xl md:font-bold">:</div>
        <div class="title text-2xl font-bold font-sans mt-4 md:text-3xl md:font-bold">{{item.title}}</div>
      </div>
    </div>
    <div class="read-details p-2 flex justify-center mt-1">
      <p class="px-10 flex justify-center font-sans text-base font-medium"> {{item.details}} </p>
    </div>
    <div class="buttons flex justify-center">
      <button class="bg-green-500 text-white rounded-full  px-8 py-2 hover:bg-red-500 my-[1rem] ml-[2rem]">
        <a href={% url 'update' item.slug %}>Update</a>
      </button>
    </div>
    {% endfor %}
</div>


{% endblock main %}